.pet-card {
  overflow: hidden;
  max-height: 328px;
  min-height: 328px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform .2s;
  /* Animation */
}

.pet-card:hover {
  transform: scale(1.05);
  /* (105% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pet-card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.pet-card h2 {
  // font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.pet-card p {
  // font-size: 12px;
  opacity: .7;
  margin: 0;
}

.pet-card .pet-card-info {
  padding: 16px;
  position: relative;
  color: black
}

.pet-card-description {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.booking-card {
  overflow: hidden;
  max-height: 380px;
  min-height: 328px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform .2s;
}

.booking-card:hover {
  transform: scale(1.01);
  /* (105% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.booking-card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
}

.booking-card h2 {
  // font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.booking-card .booking-card-info {
  padding: 16px;
  position: relative;
  color: black
}
