.pets_image img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 50%;
  display: center;
  align-items: center;
  padding: 5%;

}


.details-container {
  display: grid;
  grid: template columns 2px;
  grid-gap: 80px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
