.navbar {
  padding: 10px 50px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.navbar h1 {
  margin: 0
}

.navbar-lewagon {
  justify-content: space-between;
  background: #b0beb6;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
