.my-button {
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: rgb(147, 188, 242);
  border-radius: 20px;
  a {
    text-decoration:none;
    color: white;
  }
}

button :hover {
  text-decoration: none;
  color: rgb(113, 144, 197);
  font-weight: bolder;
}

.navbar {
  padding: 10px 50px
}
